[submodule "sensorManager"]
	path = sensorManager
	url = https://github.com/emotionsense/SensorManager.git
[submodule "sensorDataManager"]
	path = sensorDataManager
	url = https://github.com/tsmsogn/SensorDataManager.git
